---
// src/pages/index.astro
import fs from 'fs';
import path from 'path';
import csv from 'csv-parser';

const dataFilePath = path.resolve('resource/statlist.csv');
const results = [];

const readCSVData = () => new Promise((resolve, reject) => {
  fs.createReadStream(dataFilePath)
    .pipe(csv())
    .on('data', (data) => results.push(data))
    .on('end', () => {
      resolve(results);
    })
    .on('error', (error) => {
      reject(error);
    });
});

const csvData = await readCSVData();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSV Data Page</title>
    <link rel="stylesheet" href="src/styles/styles.css">
  </head>
  <body>
    <h1>CSV Data</h1>
    <div class="card-container">
      {csvData.map((row, index) => (
        <div class="card" key={index}>
            <h3>{row["statcode"]}</h2>
            <h2>{row["statname"]}</h2>
            <div class="badge">{row["govname"]}</div>
        </div>
      ))}
    </div>
  </body>
</html>
