---
import fs from "fs";
import path from "path";
import csv from "csv-parser";
import _ from "lodash";

import MySiteLayout from "../layouts/baselayout.astro";
import StatCard from "../components/statcard.astro";

const statListPath = path.resolve("resource/statlist.csv");
const yearListPath = path.resolve("resource/yearlist.csv");


const readCSVData = (filePath) =>
    new Promise((resolve, reject) => {
        const results = [];
        fs.createReadStream(filePath)
            .pipe(csv())
            .on("data", (data) => results.push(data))
            .on("end", () => {
                resolve(results);
            })
            .on("error", (error) => {
                reject(error);
            });
    });

async function joinFiles(file1Path, file2Path, key) {
    try {
        const [data1, data2] = await Promise.all([
            readCSVData(file1Path),
            readCSVData(file2Path),
        ]);

        const groupedData2 = _.groupBy(data2, key);
        const yearsById = _.mapValues(groupedData2, (group) =>
            group
            .map((row) => row.year)
            .filter((year) => year !== undefined)
            .sort((a, b) => Number(b) - Number(a))
        );


        const joinedData = data1.map((row, index) => {
            const keyVal = row[key];
            return {
                ...row,
                years: yearsById[keyVal] || [], // 見つからない場合は空リストを返す
            };
        });

        return joinedData;
    } catch (error) {
        console.error("Error:", error);
    }
}

const csvData = await joinFiles(statListPath, yearListPath, "statcode");

---

<style>
    .card-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>

<MySiteLayout title="Statibyte">
    <div class="card-container">
        {
            csvData.map((row, index) => (
                <StatCard
                    statcode={row["statcode"]}
                    govname={row["govname"]}
                    statname={row["statname"]}
                    years={row["years"]}
                />
            ))
        }
    </div>
</MySiteLayout>
