---

import { Icon } from 'astro-icon/components'

const platform = "github";
const username = "tsutomu-nagano";
---

<style>

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #333; */
    padding: 20px;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    left: 0;
}

</style>

<footer>
    <p>このサービスは、政府統計総合窓口(e-Stat)のAPI機能を使用していますが、サービスの内容は国によって保証されたものではありません。</p>
</footer>